<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://famom-functionapp-prod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c2581913-d8f6-4629-b2c5-bfbc0c03a9f0/resourcegroups/CommonResource/providers/Microsoft.Web/sites/famom-functionapp-prod</ResourceId>
    <UserName>$famom-functionapp-prod</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://famom-functionapp-prod.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>